# Class

## Create a class person and define its attributes and methods

In [13]:
class person:
    def __init__(self,name,age,occupation,stay):
        self.name=name
        self.age=age
        self.occupation=occupation
        self.stay=stay

    def talk(self):
        print(f"Hi I am {self.name} and I am {self.age} years old") 
        print(f"I live in {self.stay}")
        print(f"I work at {self.occupation}")   

    def work(self,n):
        print(f"I am currently working at {self.occupation}")
        print(f"Its been {n} years since am working at this company")

In [14]:
p1= person(name="Raman",age=35,occupation="Data Analyst",stay="Pune")

In [15]:
p1.name

'Raman'

In [16]:
p1.age

35

In [17]:
p1.stay

'Pune'

In [18]:
p1.occupation

'Data Analyst'

In [19]:
p1.talk()

Hi I am Raman and I am 35 years old
I live in Pune
I work at Data Analyst

In [20]:
p1.work(5)

I am currently working at Data Analyst
Its been 5 years since am working at this company

#### Create a class bank that contains attributes like bank accountnumber,name,balance.Define different methods like withdrawal,deposit,transfer

In [2]:
class etl_bank:
    def __init__(self,account_number,account_name,balance):
        self.account_number=account_number
        self.account_name=account_name
        self.balance=balance
    
    def withdrawal(self,amount):
        if amount<self.balance:
            self.balance=self.balance-amount
            return f"Amount Withdrwal is {amount}.your updated balance is {self.balance}"
        
    def deposit(self,deposit_amount):
        self.balance=self.balance+deposit_amount
        return f"Amount deposited is {deposit_amount}. Your updated balance is{self.balance}"

    def transfer(self,transfer_amount,acc_no):
        self.balance=self.balance-transfer_amount
        return f"Ampunt being transferred is {transfer_amount}.Your updated amount is {self.balance}.Amount transferred to {acc_no}"

In [23]:
cust1=etl_bank(182663689,"Rashmi",500000)

In [24]:
cust1.account_name

'Rashmi'

In [25]:
cust1.account_number

182663689

In [26]:
cust1.balance

500000

In [27]:
cust1.withdrawal(100000)

'Amount Withdrwal is 100000.your updated balance is 400000'

In [28]:
cust1.deposit(100000)

'Amount deposited is 100000. Your updated balance is500000'

In [29]:
cust1.transfer(200000,1086436889)

'Ampunt being transferred is 200000.Your updated amount is 300000.Amount transferred to 1086436889'

In [3]:
cust2=etl_bank(1274658,"Riya",600000)

In [4]:
cust2.account_name

'Riya'

In [5]:
cust2.account_number

1274658

In [6]:
cust2.balance

600000

In [8]:
cust2.withdrawal(200000)

'Amount Withdrwal is 200000.your updated balance is 400000'

In [9]:
cust2.deposit(400000)

'Amount deposited is 400000. Your updated balance is800000'

In [11]:
cust2.transfer(400000,85967466)

'Ampunt being transferred is 400000.Your updated amount is 400000.Amount transferred to 85967466'

# Class attributes

In [12]:
class student_primary:
    sectiona=50
    sectionb=40
    class_teacher_a="Priya"
    class_teacher_b="Riya"

    def welcome():
        print(f"Welcome to this class")

In [13]:
student_primary.class_teacher_a

'Priya'

In [14]:
student_primary.class_teacher_b

'Riya'

In [15]:
student_primary.sectiona

50

In [16]:
student_primary.class_teacher_b

'Riya'

In [17]:
student_primary.welcome()

Welcome to this class

In [18]:
class student_primary:
    sectiona=50
    sectionb=40
    class_teacher_a="Priya"
    class_teacher_b="Riya"
    @classmethod
    def welcome(cls):
        print(f"Welcome to this class.we have 2 sections {cls.sectiona} & {cls.sectionb}")

In [19]:
student_primary.sectionb

40

In [20]:
student_primary.class_teacher_a

'Priya'

In [22]:
student_primary.welcome()

Welcome to this class.we have 2 sections 50 & 40

In [3]:
class cars:
    # define a class attributes
   greeting="Welcome to our showroom. Please explore our car Modeles"
    # define instantance attributes
   def __init__(self,manufacturer,price):
        self.manufacturer=manufacturer
        self.price=price
    # write a method that takes the input from user and displays different models present    

   def hyundai_model_info(self):
       return "we sell different models for this manufacturer like Grand i10, Grand i20"
   def maruti_model_info(self):
       return "we sell different models for this manufacturer like nexa baleno,swift"
   @classmethod
   def welcome(cls):
       print(cls.greeting)

In [4]:
enquiry1=cars("hyundai",1200000)

In [28]:
cars.greeting

'Welcome to our showroom. Please explore our car Modeles'

In [29]:
enquiry1.manufacturer

'hyundai'

In [30]:
enquiry1.price

1200000

In [5]:
enquiry1.hyundai_model_info()

'we sell different models for this manufacturer like Grand i10, Grand i20'

In [6]:
enquiry1.maruti_model_info()

'we sell different models for this manufacturer like nexa baleno,swift'

In [5]:
class birthday:
    greeting="Welcome to Yuvaan's Birthday Party"
    def __init__(self,name,date,Theme,count,snacks,returngift):
        self.Theme=Theme
        self.count=count
        self.snacks=snacks
        self.returngift=returngift
        self.name=name
        self.date=date
    def talk(self):
        print(f"Hi Iam {self.name} & my Birthday is on {self.date}")
    @classmethod
    def welcome(cls):
        print(cls.greeting)

In [7]:
Invitation=birthday("Yuvaan","may 12","spiderman",50,"burger","paintkit")

In [8]:
Invitation.name

'Yuvaan'

In [8]:
Invitation.greeting

"Welcome to Yuvaan's Birthday Party"

In [9]:
Invitation.talk()

Hi Iam Yuvaan & my Birthday is on may 12

In [10]:
Invitation.snacks

'burger'

In [11]:
Invitation.count

50

In [12]:
Invitation.returngift

'paintkit'

In [13]:
Invitation.Theme

'spiderman'

In [14]:
Invitation.name

'Yuvaan'

In [ ]:
Invitation.Theme

'spiderman'

In [17]:
Invitation.greeting

"Welcome to Yuvaan's Birthday Party"

In [18]:
Invitation.talk()

Hi Iam Yuvaan & my Birthday is on may 12

In [9]:
Invitation.talk()

Hi Iam Yuvaan & my Birthday is on may 12

In [10]:
Invitation.greeting

"Welcome to Yuvaan's Birthday Party"