### Inheritance

In [1]:
class person:
    def __init__(self,name,age):
        self.name=name
        self.age=age
    def introduce(self):
        print(f"Hi I am {self.name} and I am {self.age} years old ")

In [2]:
p1=person("Rashmi",32)

In [3]:
p1.name

'Rashmi'

In [4]:
p1.age

32

In [5]:
p1.introduce()

Hi I am Rashmi and I am 32 years old

In [6]:
class employee(person):
    pass

In [7]:
emp1=employee("Rashmi",32)

In [8]:
emp1.name

'Rashmi'

In [9]:
emp1.age

32

In [10]:
emp1.introduce()

Hi I am Rashmi and I am 32 years old

In [11]:
class employee(person):
    def __init__(self,company):
        self.company=company
    def work(self):
        print(f"Hi I am working at {self.company}")

In [12]:
emp2=employee("Wipro")

In [13]:
emp2.company

'Wipro'

In [14]:
emp2.work()

Hi I am working at Wipro

In [16]:
emp2.name

AttributeError: 'employee' object has no attribute 'name'

In [17]:
class employee(person):
    def __init__(self,name,age,company):
        super().__init__(name,age)
        self.company=company
    def work(self):
        super().introduce()
        print(f"Hi I am working at {self.company}")

In [25]:
emp3=employee("Suman",35,"Infosys")

emp3.name

In [20]:
emp3.age

35

In [26]:
emp3.company

'Infosys'

In [27]:
emp3.work()

Hi I am Suman and I am 35 years old
Hi I am working at Infosys

In [24]:
emp3.introduce()

Hi I am Suman and I am 35 years old

# Hierarchal Inheritance

In [28]:
# parent class
class grave_hyundai:
    def __init__(self,name,location):
        self.name=name
        self.location=location
    def greeting(self):
        print(f"Hello {self.name} Sir/Madam welcome to our showroom")
    def models_info(self):
        print(f"We have latest models available at our showroom like Grand i10 and Grand i20")

In [51]:
# chcild 1 class 
class grandi10(grave_hyundai):
    def __init__(self,name,location,price_range):
        super().__init__(name,location)
        self.price_range=price_range

    def enquiry_price(self):
        super().greeting()
        print(f"Features of this models are ...... and on-road price is 10laks ")
        if self.price_range>10:
            print(f"Please check our best models falling under the same range:Grand i20") 

    def enquiry_models(self):
        super().models_info()

In [63]:
# child class: child2
class grandi20(grave_hyundai):

    def __init__(self, name, location,price_range):
        super().__init__(name, location)
        self.price_range = price_range
    
    def enquiry_price(self):
        super().greeting()
        print(f"Features of this model are ...... and on-road price is 15Lakhs")
    
    def enquiry_models(self):
        super().models_info()

In [52]:
gi10=grandi10("taman","wakad",7)

In [53]:
gi10.location

'wakad'

In [54]:
gi10.price_range

7

In [55]:
gi10.name

'taman'

In [56]:
gi10.enquiry_models()

We have latest models available at our showroom like Grand i10 and Grand i20

In [57]:
gi10.enquiry_price()

Hello taman Sir/Madam welcome to our showroom
Features of this models are ...... and on-road price is 10laks

In [58]:
gi20=grandi20("rohit","Hinjewadi",14)

In [59]:
gi20.name

'rohit'

In [60]:
gi20.location

'Hinjewadi'

In [61]:
gi20.price_range

14

In [67]:
gi20.enquiry_models()

We have latest models available at our showroom like Grand i10 and Grand i20

In [68]:
gi20.enquiry_price()

Hello rohit Sir/Madam welcome to our showroom
Features of this model are ...... and on-road price is 15Lakhs

In [69]:
gi20.greeting()

Hello rohit Sir/Madam welcome to our showroom

In [71]:
gi20.enquiry_models()

We have latest models available at our showroom like Grand i10 and Grand i20

In [72]:
gi20.enquiry_price()

Hello rohit Sir/Madam welcome to our showroom
Features of this model are ...... and on-road price is 15Lakhs

In [74]:
model_info=grave_hyundai("taman","wakad")

In [75]:
model_info.location

'wakad'

In [76]:
model_info.name

'taman'

In [77]:
model_info.models_info()

We have latest models available at our showroom like Grand i10 and Grand i20

In [78]:
model_info.greeting()

Hello taman Sir/Madam welcome to our showroom

# Multi level inheritance

In [4]:
# parent class
class Employee:
    def __init__(self,name,employeeid):
        self.name=name
        self.employeeid=employeeid
    def get_employee_info(self):
        return f"Name:{self.name}, Employee ID:{self.employeeid}"

In [5]:
# child class parent:employee
class manager(Employee):
    def __init__(self,name,employeeid,department):
        super().__init__(name,employeeid)
        self.department=department
    def get_manager_info(self):
        return f"{self.get_employee_info()},Department:{self.department}"

In [19]:
# child class parent:manager
class projectmanager(manager):
    def __init__(self,name,employeeid,depatment,project):
        super().__init__(name,employeeid,depatment)
        self.project=project
    def get_project_info(self):
        super().get_manager_info()
        return f"Project : {self.project}"

In [11]:
manager1=manager("Raman",12678,"IT")

In [6]:
manager1.name

'Raman'

In [7]:
manager1.employeeid

12678

In [8]:
manager1.department

'IT'

In [12]:
manager1.get_employee_info()

'Name:Raman, Employee ID:12678'

In [10]:
manager1.get_manager_info()

'Name:Raman, Employee ID:12678,Department:IT'

In [13]:
project_manager=projectmanager("Suman",12890,"HR","HR23")

In [14]:
project_manager.get_manager_info()

'Name:Suman, Employee ID:12890,Department:HR'

In [15]:
project_manager.department

'HR'

In [16]:
project_manager.project

'HR23'

In [17]:
project_manager.get_manager_info()

'Name:Suman, Employee ID:12890,Department:HR'

In [18]:
project_manager.get_project_info()

'Name:Suman, Employee ID:12890,Department:HR,Project : HR23'

In [20]:
project_manager.get_manager_info()

'Name:Suman, Employee ID:12890,Department:HR'

In [21]:
project_manager.get_project_info()

'Name:Suman, Employee ID:12890,Department:HR,Project : HR23'

# Hybrid Inheritance
   2 parents and a single child

In [30]:
class skating:
    def __init__(self,name):
        self.name=name
    def req_skating(self):
        print(f"Hi {self.name}.we provide basic skating gears. please bring safety gears from your side")

In [23]:
class basketball:
    def __init__(self,name):
        pass
    def req_basketball(self):
        print(f"Hi  We provide basketball. please wear sports uniform for this game ")

In [24]:
class student(skating,basketball):
    pass

In [25]:
student1=student("thaman")

In [26]:
student1.name

'thaman'

In [28]:
student1.req_basketball()

Hi  We provide basketball. please wear sports uniform for this game