## Polymorphism : Ability of an object/function to take multiple forms

In [1]:
name="Raman"
empdata=[101,"Thaman","thaman@gmail.com",45000,"IT"]
empdepts={"HR":[120,130,140],
          "IT":[234,176,156,187],
          "sales":[89,90,71]}

In [2]:
name

'Raman'

In [3]:
len(name)

5

In [4]:
empdata

[101, 'Thaman', 'thaman@gmail.com', 45000, 'IT']

In [5]:
len(empdata)

5

In [6]:
empdepts

{'HR': [120, 130, 140], 'IT': [234, 176, 156, 187], 'sales': [89, 90, 71]}

In [7]:
empdepts.keys()

dict_keys(['HR', 'IT', 'sales'])

In [8]:
empdepts.values()

dict_values([[120, 130, 140], [234, 176, 156, 187], [89, 90, 71]])

In [9]:
len(empdepts)

3

In [10]:
24+75

99

In [12]:
#strings : performs concatenation
"Raman"+" "+"Thaman"

'Raman Thaman'

In [13]:
#lists : performs merging of lists
[1,23,13]+[12,34,67]

[1, 23, 13, 12, 34, 67]

# User defined polymorphism scenario

In [14]:
class India:
    def __init__(self):
        pass
    def capital(self):
        print("Delhi is the capital of India")
    def language(self):
        print("Hindi and English are widely spoken languages in India")

In [15]:
class USA:
    def __init__(self):
        pass
    def capital(self):
        print("Washington D.C is the capital of USA")
    def languages(self):
        print("English is the widely spoken language in USA")

In [ ]:
ctry1=India()

In [17]:
ctry2=USA()

In [18]:
ctry1.capital()

Delhi is the capital of India

In [19]:
ctry1.language()

Hindi and English are widely spoken languages in India

In [21]:
ctry2.capital()

Washington D.C is the capital of USA

In [22]:
ctry2.languages()

English is the widely spoken language in USA

In [6]:
import pandas as pd
cars = pd.read_csv('Cars93.csv',na_values=['','NA'],keep_default_na=False)
cars.head()

,id,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
0,1,Acura,Integra,Small,12.9,15.9,18.8,25,31,None,...,5,177,102,68,37,26.5,11.0,2705,non-USA,Acura Integra
1,2,Acura,Legend,Midsize,29.2,33.9,38.7,18,25,Driver & Passenger,...,5,195,115,71,38,30.0,15.0,3560,non-USA,Acura Legend
2,3,Audi,90,Compact,25.9,29.1,32.3,20,26,Driver only,...,5,180,102,67,37,28.0,14.0,3375,non-USA,Audi 90
3,4,Audi,100,Midsize,30.8,37.7,44.6,19,26,NaN,...,6,193,106,70,37,31.0,17.0,3405,non-USA,Audi 100
4,5,BMW,535i,Midsize,23.7,30.0,36.2,22,30,Driver only,...,4,186,109,69,39,27.0,13.0,3640,non-USA,BMW 535i

In [29]:
s=cars.isna().sum()
s[s>0]

AirBags            4
Rear.seat.room     2
Luggage.room      11
dtype: int64

In [30]:
cars.info

<bound method DataFrame.info of     id Manufacturer    Model     Type  Min.Price  Price  Max.Price  MPG.city  \
0    1        Acura  Integra    Small       12.9   15.9       18.8        25
1    2        Acura   Legend  Midsize       29.2   33.9       38.7        18
2    3         Audi       90  Compact       25.9   29.1       32.3        20
3    4         Audi      100  Midsize       30.8   37.7       44.6        19
4    5          BMW     535i  Midsize       23.7   30.0       36.2        22
..  ..          ...      ...      ...        ...    ...        ...       ...
88  89   Volkswagen  Eurovan      Van       16.6   19.7       22.7        17
89  90   Volkswagen   Passat  Compact       17.6   20.0       22.4        21
90  91   Volkswagen  Corrado   Sporty       22.9   23.3       23.7        18
91  92        Volvo      240  Compact       21.8   22.7       23.5        21
92  93        Volvo      850  Midsize       24.8   26.7       28.5        20

    MPG.highway             AirBags  ... Passengers Length  Wheelbase  Width  \
0            31                None  ...          5    177        102     68
1            25  Driver & Passenger  ...          5    195        115     71
2            26         Driver only  ...          5    180        102     67
3            26                 NaN  ...          6    193        106     70
4            30         Driver only  ...          4    186        109     69
..          ...                 ...  ...        ...    ...        ...    ...
88           21                None  ...          7    187        115     72
89           30                None  ...          5    180        103     67
90           25                None  ...          4    159         97     66
91           28         Driver only  ...          5    190        104     67
92           28  Driver & Passenger  ...          5    184        105     69

    Turn.circle  Rear.seat.room Luggage.room  Weight   Origin  \
0            37            26.5         11.0    2705  non-USA
1            38            30.0         15.0    3560  non-USA
2            37            28.0         14.0    3375  non-USA
3            37            31.0         17.0    3405  non-USA
4            39            27.0         13.0    3640  non-USA
..          ...             ...          ...     ...      ...
88           38            34.0          NaN    3960  non-USA
89           35            31.5         14.0    2985  non-USA
90           36            26.0         15.0    2810  non-USA
91           37            29.5         14.0    2985  non-USA
92           38            30.0         15.0    3245  non-USA

                  Make
0        Acura Integra
1         Acura Legend
2              Audi 90
3             Audi 100
4             BMW 535i
..                 ...
88  Volkswagen Eurovan
89   Volkswagen Passat
90  Volkswagen Corrado
91           Volvo 240
92           Volvo 850

[93 rows x 28 columns]>

In [31]:
cars["AirBags"].unique()

array(['None', 'Driver & Passenger', 'Driver only', nan], dtype=object)

In [32]:
cars["Rear.seat.room"].unique()

array([26.5, 30. , 28. , 31. , 27. , 30.5, 35. , 25. , 26. , 28.5, 33.5,
       29.5,  nan, 36. , 20. , 27.5, 24. , 23. , 24.5, 23.5, 29. , 31.5,
       19. , 25.5, 34. ])

In [33]:
cars["Luggage.room"].unique()

array([11., 15., 14., 17., 13., 16., 21., 18., nan, 20., 12., 10.,  8.,
        9., 19., 22.,  6.])

In [34]:
med1=cars["Luggage.room"].median()
med1

np.float64(14.0)

In [35]:
cars["Luggage.room"]

0     11.0
1     15.0
2     14.0
3     17.0
4     13.0
      ...
88     NaN
89    14.0
90    15.0
91    14.0
92    15.0
Name: Luggage.room, Length: 93, dtype: float64

In [3]:
class handle_missing_cont:
    def __init__(self,data):
        self.data=data

    def replace(self):
        print(f"Missing values before replace operation: {(self.data).isna().sum()}")
        med=(self.data).median()
        (self.data).fillna(med,inplace=True)
        print(f"Missing values after replace operation: {(self.data).isna().sum}")
        print(f"Missing values are replaced with {med}")

In [5]:
class handle_missing_cate:
    def __init__(self,data):
        self.data=data
    def replace(self):
        print(f"Missing values before replace operarion: {(self.data).isna().sum()}")
        md=self.data.mode()[0]
        (self.data).fillna(md,inplace=True)   
        print(f"Missing values after replace operation: {(self.data).isna().sum()}")
        print(f"Missing values are replaced with {md}")

In [7]:
cont1=handle_missing_cont(cars["Luggage.room"])

In [39]:
cont1.data

0     11.0
1     15.0
2     14.0
3     17.0
4     13.0
      ...
88     NaN
89    14.0
90    15.0
91    14.0
92    15.0
Name: Luggage.room, Length: 93, dtype: float64

In [8]:
cont1.replace()

Missing values before replace operarion: 11
Missing values after replace operation: 0
Missing values are replaced with 14.0

In [9]:
cat1=handle_missing_cate(cars["AirBags"])

In [11]:
cat1.data

0                   None
1     Driver & Passenger
2            Driver only
3                    NaN
4            Driver only
             ...
88                  None
89                  None
90                  None
91           Driver only
92    Driver & Passenger
Name: AirBags, Length: 93, dtype: object

In [12]:
cat1.replace()

Missing values before replace operarion: 4
Missing values after replace operation: 0
Missing values are replaced with Driver only