# Class

# Create a class person and define its attributes and methods

In [ ]:
class person:
    def __init__(self,name,age,occupation,stay):
        self.name=name
        self.age=age
        self.occupation=occupation
        self.stay=stay

    def talk(self):
        print(f"Hi I am {self.name} and I am {self.age} years old") 
        print(f"I live in {self.stay}")
        print(f"I work at {self.occupation}")   

    def work(self,n):
        print(f"I am currently working at {self.occupation}")
        print(f"Its been {n} years since am working at this company")

In [2]:
p1= person(name="Raman",age=35,occupation="Data Analyst",stay="Pune")

NameError: name 'person' is not defined

In [ ]:
p1.age

35

In [ ]:
p1.stay

'Pune'

In [ ]:
p1.occupation

'Data Analyst'

In [ ]:
p1.stay

'Pune'

In [ ]:
p1.talk()

Hi I am Raman and I am 35 years old
I live in Pune
I work at Data Analyst

In [ ]:
p1.work(4)

I am currently working at Data Analyst
Its been 4 years since am working at this company

In [ ]:
p2=person(name="Rashmi",age=33,occupation="IT",stay="Pune")

In [ ]:
p2.name

'Rashmi'

In [ ]:
p2.talk()

Hi I am Rashmi and I am 33 years old
I live in Pune
I work at IT

In [ ]:
p2.work(5)

I am currently working at IT
Its been 5 years since am working at this company

#### Create a class bank that contains attributes like bank accountnumber,name,balance.Define different methods like withdrawal,deposit,transfer

In [ ]:
class etl_bank:
    def __init__(self,account_number,account_name,balance):
        self.account_number=account_number
        self.account_name=account_name
        self.balance=balance
    
    def withdrawal(self,amount):
        if amount<self.balance:
            self.balance=self.balance-amount
            return f"Amount Withdrwal is {amount}.your updated balance is {self.balance}"
        
    def deposit(self,deposit_amount):
        self.balance=self.balance+deposit_amount
        return f"Amount deposited is {deposit_amount}. Your updated balance is{self.balance}"

    def transfer(self,transfer_amount,acc_no):
        self.balance=self.balance-transfer_amount
        return f"Ampunt being transferred is {transfer_amount}.Your updated amount is {self.balance}.Amount transferred to {acc_no}"

In [ ]:
cust1=etl_bank(182663689,"Rashmi",500000)

In [ ]:
cust1.account_name

'Rashmi'

In [ ]:
cust1.account_number

182663689

In [ ]:
cust1.balance

500000

In [ ]:
cust1.withdrawal(100000)

'Amount Withdrwal is 100000.your updated balance is 400000'

In [ ]:
cust1.deposit(200000)

'Amount deposited is 200000. Your updated balance is600000'

In [ ]:
cust1.transfer(400000,28684977)

'Ampunt being transferred is 400000.Your updated amount is 200000.Amount transferred to 28684977'

In [ ]:
cust2=etl_bank(2738949738,"Rohit",100000)

In [ ]:
cust2.account_name

'Rohit'

In [ ]:
cust2.account_number

2738949738

In [ ]:
cust2.balance

100000

In [ ]:
cust2.withdrawal(20000)

'Amount Withdrwal is 20000.your updated balance is 80000'

In [ ]:
cust2.withdrawal(200000)

In [ ]:
cust2.deposit(500000)

'Amount deposited is 500000. Your updated balance is580000'

In [ ]:
cust2.transfer(80000,478589283)

'Ampunt being transferred is 80000.Your updated amount is 500000.Amount transferred to 478589283'